<mat-dialog-content>



  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="Login">
      <div class="container-fluid d-flex justify-content-center align-items-center mt-3">
        <form class="example-form" #loginForm="ngForm" (ngSubmit)="userLogin()">
          <mat-form-field class="example-full-width mr-sm-2">
            <input matInput placeholder="Username" type="text" required name="username" [(ngModel)]="model.username">
          </mat-form-field>
          <div>
            <mat-form-field class="example-full-width mr-sm-2">
              <input matInput placeholder="Password" type="password" required name="password" [(ngModel)]="model.password">
            </mat-form-field>
          </div>
          <div class="container d-flex justify-content-end">
            <button mat-stroked-button class="my-sm-0 my-2 align-self-end" type="submit">Login</button>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Register">
      <div class="container-fluid d-flex justify-content-center align-items-center mt-3">
        <form class="example-form" #registerForm="ngForm" (ngSubmit)="userLogin()">
          <div>
            <mat-form-field class="example-full-width mr-sm-2">
              <input matInput placeholder="Email" type="email" required required name="email" [(ngModel)]="model.email">
            </mat-form-field>
          </div>
          <mat-form-field class="example-full-width mr-sm-2">
            <input matInput placeholder="Username" type="text" required name="username" [(ngModel)]="model.username">
          </mat-form-field>
          <div>
            <mat-form-field class="example-full-width mr-sm-2">
              <input matInput placeholder="Password" type="password" required name="password" [(ngModel)]="model.password">
            </mat-form-field>
          </div>
          <div class="container d-flex justify-content-end">
            <button mat-stroked-button class="my-sm-0 my-2 align-
            self-end" type="submit">Register</button>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>