.box1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; /* content-box */
  width: 80%;
  padding: 3% 45% 3% 3%;
  border: none;
  font: normal 16px/1 Arial Black, Gadget, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  -webkit-box-shadow: 3px 4px 1px 1px rgba(0,0,0,0.3) ;
  box-shadow: 3px 4px 1px 1px rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.inline1 {
    display: inline;
}


body {text-align: center}

.imdesc {display: inline-block; vertical-align: middle; position: relative}
.imdesc img {vertical-align: middle;}
.imdesc p {text-align: center; background: #99bfe8;}

.imdesc p.cen {
    position: absolute;   top: 50%;   left: 50%;
    width: 100px; height: 100px; margin: -50px;
    border-radius: 50px;
}