<!-- team section -->
<section id="team" class="py-5 bg-light">
  <div class="container"></div>
  <!-- title -->
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 text-uppercase text-dark mb-0">
        <strong>Discover our Website</strong>
      </h1>
      <div class="title-underline bg-danger"></div>
      <p class="mt-2 text-capiltalize text-muted">Improve your Counter-Srike IQ with Counter-Strike Improve</p>
    </div>
  </div>
  <!-- end of title -->

  <div class="row">
    <!-- team member-->
    <div class="col-md-6 col-lg-4 my-3">
      <!-- card -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="donate-header-image"></div>
          <mat-card-title>Player Analysis</mat-card-title>
          <mat-card-subtitle>fundamentals, positioning, meta</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/HomeCards/Rain.jpg" alt="Server development">
        <mat-card-content>
          <p>
            Great for learning how to play Counter-Strike, pick your favorite pro to watch and learn from.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
      <!-- end of card -->
    </div>
    <!-- end of team member-->

    <!-- team member-->
    <div class="col-md-6 col-lg-4 my-3">
      <!-- card -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="donate-header-image"></div>
          <mat-card-title>Event Analysis</mat-card-title>
          <mat-card-subtitle>discover our team analysis</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/HomeCards/ESL.jpg" alt="Server development">
        <mat-card-content>
          <p>
            The latest event analysis, discover how teams play and how to react to certain situations.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
      <!-- end of card -->
    </div>
    <!-- end of team member-->

    <!-- team member-->
    <div class="col-md-6 col-lg-4 my-3">
      <!-- card -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="donate-header-image"></div>
          <mat-card-title>Video Library</mat-card-title>
          <mat-card-subtitle>videos and articles with interfaces</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/HomeCards/Smoke.jpg" alt="Server development">
        <mat-card-content>
          <p>
            Video library of content related to analysis and meta of the game.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
      <!-- end of card -->
    </div>
    <!-- end of team member-->

    <!-- team member-->
    <div class="col-md-6 col-lg-4 my-3 mx-auto">
      <!-- card -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="donate-header-image"></div>
          <mat-card-title>Player Match</mat-card-title>
          <mat-card-subtitle>matches similar play style</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/HomeCards/Kenny.jpg" alt="Server development">
        <mat-card-content>
          <p>
            Discover which pro players have a similar play style to you. Find out which pro players play in your positions.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
      <!-- end of card -->
    </div>
    <!-- end of team member-->

    <!-- team member-->
    <div class="col-md-6 col-lg-4 my-3 mx-auto">
      <!-- card -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="donate-header-image"></div>
          <mat-card-title>Web Framework</mat-card-title>
          <mat-card-subtitle>custom designed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/HomeCards/Tablet.jpg" alt="Server development">
        <mat-card-content>
          <p>
            Find exacly the content you're looking for with our custom designed web framework.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
      <!-- end of card -->
    </div>
    <!-- end of team member-->
  </div>
</section>
<!-- end of team section-->