<div class="container-fluid" id="dashboard-header">
  <div class="container">
    <div class="row">
      <!-- team member-->
      <div class="col-md-4 col-lg-3 my-3">
        <!-- card -->
        <mat-card class="example-card" [routerLink]="['/team-list']">
          <mat-card-header>
            <div mat-card-avatar class="donate-header-image"></div>
            <mat-card-title>Player Analysis</mat-card-title>
            <mat-card-subtitle>fundamentals, positioning, meta</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/img/Dashboard/Player Analysis.png" alt="Server development">
          <mat-card-content>
            <p>
              Great for learning how to play Counter-Strike, pick your favorite pro to watch and learn from.
            </p>
          </mat-card-content>
        </mat-card>
        <!-- end of card -->
      </div>
      <!-- end of team member-->
  
      <!-- team member-->
      <div class="col-md-4 col-lg-3 my-3">
        <!-- card -->
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="donate-header-image"></div>
            <mat-card-title>Event Analysis</mat-card-title>
            <mat-card-subtitle>Discover our team analysis</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/img/HomeCards/Rain.jpg" alt="Server development">
          <mat-card-content>
            <p>
               The latest event analysis, discover how teams play and how to react to certain situations.
            </p>
          </mat-card-content>
        </mat-card>
        <!-- end of card -->
      </div>
      <!-- end of team member-->
    </div>
  </div>
</div>
