<!-- header -->
<header id="header" class="bg-dark">
  <div class="container">
    <div class="row height-50 align-items-center">
      <div class="col-md-6">
        <h1>CSI logo placeholder</h1>
      </div>
      <div class="col-md-6">
        <h1 class="text-danger text-uppercase font-weight-bold font-italic">
          <strong>Counter Strike</strong>
          <div>
          <small class="text-light"> Easy Peasy</small>
          </div>
        </h1>
        <!-- w-75 so that on a larger sceen the paragraph does not span the whole screen-->
        <p class="text-muted lead py-2 w-75">Stay up to date with the Counter-strike meta, easy peasy with CSI.</p>
      </div>
    </div>
  </div>
</header>
<!-- End of header-->

<app-homeCards *ngIf="homeCards"></app-homeCards>
<app-footer></app-footer>